---
import Layout from "@layouts/Layout.astro";
import MetaHead from "@components/MetaHead.astro";
import CanvasTest from "@components/CanvasTest.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead title={"Map Algo"} />
    </head>

    <body>
        <Layout>
           
        </Layout>

        <CanvasTest/>
    </body>
</html>
