---
import Layout from "@layouts/Layout.astro";
import MetaHead from "@components/MetaHead.astro";
import PIXIRoot from "@components/PIXIJs/PIXIRoot.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead title={"Map Algo"} />
    </head>

    <body>
        <Layout>
            <PIXIRoot/>
           
        </Layout>

        <!-- <CanvasTest/> -->
    </body>
</html>
